name: Build & Push Docker (Docker Hub)

on:
  push:
    branches: [ master ]

permissions:
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:  
    - name: Checkout repository  
      uses: actions/checkout@v3  

    - name: Set up Docker Buildx  
      uses: docker/setup-buildx-action@v2  

    - name: Log in to Docker Hub  
      uses: docker/login-action@v2  
      with:  
        username: ${{ secrets.DOCKERHUB_USERNAME }}  
        password: ${{ secrets.DOCKERHUB_TOKEN }}  

    - name: Log in to GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set lowercase repository owner
      id: lower
      run: echo "repo_owner=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

    - name: Build and push Docker image  
      uses: docker/build-push-action@v4  
      with:  
        context: .  
        push: true  
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/react-app:latest
          ghcr.io/${{ steps.lower.outputs.repo_owner }}/react-app:latest